# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Logs
*.log
logs/

# Downloaded products (should be managed securely)
downloads/
licenses/

# Node leftovers (just in case)
package-lock.json
node_modules/

# VSCode or editor configs
.vscode/
.env
.env.save
.env.save.1
.env
.env
